# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# The Development settings of Qt
*.pro.user
# autosave files of Qt
*.autosave

# autosaves of gedit:
*~

# build files
texmaker
Makefile
.moc
.ui
qrc_*.cpp
